<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Tennisclub: Den Tennisser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/css.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <img src="images/logo1.png" class="logoTennis">
        <label class="logo">Den Tennisser</label>
        <ul>
            <li><a class="active" href="/index">Den Tennisser</a></li>
            <li><a href="/lidmaatschap">Lidmaatschap</a></li>
            <li><a href="/tennisles">TennisLessen</a></li>
            <li><a href="/photo">Foto's</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>

    <img src="images/background.jpg" alt="Tennisveld" class="tennisveld">

    <h2>Tennisclub: Den tennisser heet u van harte </h2>
    <h1>WELKOM !</h1>
    <p>
        Tennisclub Den tennisser bevindt zich in het mooie park van Kessel. Je kan er zowel binnen als buiten tennissen zodat je heel het jaar door kan tennissen. De terreinen buiten zijn verlicht en goed onderhouden zodat men gans het seizoen kan tennissen tot het reguliere sluitingsuur van het domein.
        <br>
        <br> Tennisplezier en recreatiesport zijn onze voornaamste troeven. Voor diegenen die meer willen, zijn er clubkampioenschappen, vriendenclubs, Tennis Vlaanderen Interclubcompetitie. Daarnaast worden er jaarlijks officiële Tennis Vlaanderen-tornooien georganiseerd waar zowel de enkel als dubbelspelers aan de bak komen.
        <br>
        <br> Voor tennislessen kan je terecht bij onze Tennisschool waar er een aanbod is voor zowel jeugd als volwassenen, beginners en gevorderden.
        <br>
        <br>In ons gezellig clubhuis met groot terras kan u na uw sportieve inspanningen genieten van frisse drankjes aan democratische prijzen. Daarnaast hebt u in ons clubhuis ook de mogelijkheid om een kleinigheid te eten.
        <br>
        <br>Doorheen het jaar organiseren we tal van leuke evenementen zoals Sinterklaasfeest, nieuwjaarsreceptie,quizavonden, barbecues...
    </p>

    <img src="images/lijn-Tineke.svg">

    <div class="main">
        <div class="row">
            <div class="column">
                <div class="content">
                    <a href="/lidmaatschap"><img src="images/lidmaatschap.png" alt="Mountains" style="width:100%"></a>
                    <h5>Lidmaatschap</h5>
                    <p>De lidgelden voor 2021 worden hier duidelijk. Zodat je een heel jaar lang kan tennissen.</p>
                    <br>
                    <br>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <a href="/tennisles"><img src="images/tennislessen.png" style="width:100%"></a>
                    <h5>Tennislessen</h5>
                    <p>Voor tennislessen kan je terecht bij onze Tennisschool waar er een aanbod is voor zowel jeugd als volwassenen, beginners en gevorderden.</p>

                </div>
            </div>
            <div class="column">
                <div class="content">
                    <a href="#calender"><img src="images/agenda.jpg" alt="agenda" style="width:100%"></a>
                    <h5>Kalender</h5>
                    <p>Doorheen het jaar organiseren we tal van leuke evenementen zoals Sinterklaasfeest, nieuwjaarsreceptie, quizavonden, barbecues...</p>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <a href="/photo"><img src="images/evenement.jpeg" alt="evenementen" style="width:100%"></a>
                    <h5>Foto's</h5>
                    <p>Neem zeker een kijkje naar de foto's die getrokken zijn op de vorige evenementen</p>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <img src="images/lijn-Tineke.svg">


    <a NAME="calender">
        <u><h1>Kalender 2021</h1></u>
        <p>
            <del> 2 januari : nieuwjaarsdrink</del>
            <br>
            <br>
            <del>11 januari : Appelbollen en worstenbrood smullen</del>
            <br>
            <br> 5 april : Paaseieren rapen met de paashaas
            <br>
            <br> 10 juli : BBQ
            <br>
            <br> 21 augustus: mosselavond
            <br>
            <br> 18 september : Quiz
            <br>
            <br> 6 december : Sinterklaas komt langs
        </p>
    </a>

    <img src="images/lijn-Tineke.svg">


    <div>
        <u><h1>Clubinfo</h1></u>
        <h4>Den tennisser<br>
            Fortstraat <br>
            2560 Kessel<br>
            <a href="tel:0484090">0484090351 </a><br>
             <a href="mailto:detennisser@hotmail.com">detennisser@hotmail.com</a></h4>

        <p><em>Openingsuren chalet</em></p>
        <p>
            Maandag t/m Vrijdag &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; vanaf 18.00u tot 22u30
            <br> Weekends en feestdagen &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;vanaf 10.00u tot 21u00
            <br> &nbsp;Schoolvakanties &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; vanaf 12.00u tot 21u00
            <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;of minstens 1u voor geplande wedstrijd
        </p>
        <p>Sluitingsuur in functie van de aanwezige leden.
            <br> Openingsuren kunnen wijzigen bij aanhoudende regen.</p>

        <div class="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2502.706319062162!2d4.624227115637782!3d51.150766579578125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3fdb8a86b1ad9%3A0x7efacebe7ce1f736!2sFort%20van%20Kessel!5e0!3m2!1snl!2sbe!4v1609320770525!5m2!1snl!2sbe" width="400" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
    <br>
    <br>

    <footer>
        <br>
        <p class="footertext">TennisClub: Den Tennisser bedankt u voor uw bezoek aan onze website bij vragen kan u een mailtje sturen. <a href="mailto:dentennisser@hotmail.com">dentennisser@hotmail.com</a> </p>

        <br>
    </footer>

</body>

</html>