<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Wijzigen wachtwoord</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/css.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>

<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <img src="images/logo1.png" class="logoTennis">
    <label class="logo">Den Tennisser</label>
    <ul>
        <li><a class="active" href="/ChoiceMenu">Den tennisser</a></li>
        <li><a href="/data">Gegevens</a></li>
        <li><a href="/reservation">Reservering</a></li>
        <li><a href="/index">afmelden</a></li>
    </ul>
</nav>

<img src="images/background.jpg" alt="Tennisveld" class="tennisveld">

<h2> Tennisclub: Den tennisser</h2>
<h1>Wijzigen van de wachtwoord</h1>

<div class="register">
    <form th:action = "@{Changepassword}">
        <div class="container">
            <label><b>Emailadress</b></label>
            <input type="text" name = "email">
            <label><b>Nieuw wachtwoord</b></label>
            <input type="password" name = "password">
            <button type="submit" class="registerbtn" value="login">Aanpassen</button>
        </div>
    </form>
</div>
<div class="register">
    <button class="registerbtn"  onclick="window.location.href='/index'">Terug naar de hoofdpagina </button>
</div>
<br>
<br>
<footer>
    <br>
    <p class="footertext">TennisClub: Den Tennisser bedankt u voor uw bezoek aan onze website bij vragen kan u een mailtje sturen. <a href="mailto:dentennisser@hotmail.com">dentennisser@hotmail.com</a> </p>

    <br>
</footer>

</body>
</html>