<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Tennisclub: lidmaadschap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/css.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <img src="images/logo1.png" class="logoTennis">
        <label class="logo">Den Tennisser</label>
        <ul>
            <li><a class="active" href="/index">Den Tennisser</a></li>
            <li><a href="/lidmaatschap">Lidmaatschap</a></li>
            <li><a href="/tennisles">TennisLessen</a></li>
            <li><a href="/photo">Foto's</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>

    <img src="images/background.jpg" alt="Tennisveld" class="backgroundles">

    <div class="bg-text">
        <h1 style="font-size:50px">Lidmaatschap</h1>
    </div>

    <h2> Tennisclub: Den tennisser hun prijslijst </h2>
    <h1>Lidmaatschap</h1>

    <table id="price">
        <tr>
            <th></th>
            <th>1 dag</th>
            <th>6 maanden</th>
            <th>12 maanden</th>

        </tr>
        <tr>
            <td>Volwassenen +18</td>
            <td>10 euro</td>
            <td>70 euro</td>
            <td>120 euro</td>
        </tr>
        <tr>
            <td>Kinderen jonger dan 10 jaar</td>
            <td>5 euro</td>
            <td>50 euro</td>
            <td>80 euro</td>

        </tr>
        <tr>
            <td>Kinderen jonger dan 18 jaar </td>
            <td>8 euro</td>
            <td>60 euro</td>
            <td>100 euro</td>

        </tr>
        <tr>
            <td>60 Plussers</td>
            <td>8 euro</td>
            <td>60 euro</td>
            <td>100 euro</td>

        </tr>
    </table>
    <br>

    <div class="register">
        <h2> Heb je nog geen lidkaart en zou je er graag een willen hebben? Kan je u hier registeren!   </h2>
        <button class="registerbtn"  onclick="window.location.href='/registration'">Registreren </button>
    </div>
    <br>
    <div class="register">
        <button class="registerbtn"  onclick="window.location.href='/index'">Terug naar de hoofdpagina </button>
    </div>
    <br>
    <br>
    <br>
    <footer>
        <br>
        <p class="footertext">TennisClub: Den Tennisser bedankt u voor uw bezoek aan onze website bij vragen kan u een mailtje sturen. <a href="mailto:detennisser@hotmail.com">detennisser@hotmail.com</a> </p>

        <br>
    </footer>

</body>
</html>