<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Tennisclub: De Tennisser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../resources/static/css/css.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <img src="../../../../resources/static/images/logo1.png" class="logoTennis">
        <label class="logo">De Tennisser</label>
        <ul>
            <li><a class="active" href="../index.html">De Tennisser</a></li>
            <li><a href="lidmaatschap.html">lidmaatschap</a></li>
            <li><a href="tennisles.html">TennisLessen</a></li>
            <li><a href="photo.html">Foto's</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </nav>

    <img src="../../../../resources/static/images/background.jpg" alt="Tennisveld" class="backgroundles">

    <div class="bg-text">
        <h1 style="font-size:50px">Registreer</h1>
    </div>

    <h2> Tennisclub: De tennisser</h2>
    <h1>Registreer</h1>

    <div class="register">
        <form>
            <div class="container">

                <label for="name"><b>Naam</b></label>
                <input type="text" placeholder="naam" name="name" id="name" required>
                <br>
                <br>
                <label for="firstname"><b>Voornaam</b></label>
                <input type="text" placeholder="voornaam" name="firstname" id="firstname" required>
                <br>
                <br>
                <label for="gender"><b>Geslacht</b></label>
                <br>
                <br>
                <form action="">
                    <input type="radio" name="man" id="gender" value="male"> Man
                    <br>
                    <input type="radio" name="vrouw" id="gender2" value="female"> Vrouw
                    <br>
                </form>
                <br>
                <br>
                <label for="birthday"><b>Verjaardag</b></label>
                <br>
                <br>
                <input type="date" placeholder="verjaardag" name="birthday" id="birthday" required>
                <br>
                <br>
                <label for="email"><b>Email </b></label>
                <input type="text" placeholder="email" name="email" id="email" required>
                <br>
                <br>
                <label for="password"><b>Wachtwoord</b></label>
                <input type="password" placeholder="wachtwoord" name="password" id="password" required>
                <br>
                <br>
                <label for="street"><b>Straat</b></label>
                <input type="text" placeholder="straat" name="street" id="street" required>
                <br>
                <br>
                <label for="streetNumber"><b>Huisnummer</b></label>
                <input type="text" placeholder="huisnummer" name="streetNumber" id="streetNumber" required>
                <br>
                <br>
                <label for="postalcode"><b>Postcode</b></label>
                <input type="text" placeholder="postcode" name="postalcode" id="postalcode" required>
                <br>
                <br>
                <label for="township"><b>Gemeente</b></label>
                <input type="text" placeholder="gemeente" name="township" id="township" required>
                <br>
                <br>

                <button type="submit" class="registerbtn">Registreer</button>
            </div>
        </form>
    </div>

</body>

</html>