<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Wijzigen mail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../resources/static/css/css.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>

<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <img src="../../../../resources/static/images/logo1.png" class="logoTennis">
    <label class="logo">Den Tennisser</label>
    <ul>
        <li><a class="active" href="ChoiceMenu.html">Den tennisser</a></li>
        <li><a href="Data.html">Gegevens</a></li>
        <li><a href="Reservation.html">Reservering</a></li>
        <li><a href="../index.html">afmelden</a></li>
    </ul>
</nav>

<img src="../../../../resources/static/images/background.jpg" alt="Tennisveld" class="tennisveld">

<h2> Tennisclub: Den tennisser</h2>
<h1>Wijzigen van het mailadres</h1>

<div class="register">

    <form method="post" th:action = "@{/login}">
        <div class="container">
            <label><b>Oud emailadres</b></label>
            <input type="text" name = "email" th:text = "${TennisPlayer.email}">
            <label><b>Nieuw emailadres</b></label>
            <input type="password" name ="password"  th:field = "${TennisPlayer.password}">
            <button type="submit" class="registerbtn" value="login">Aanpassen</button>
        </div>
    </form>
</div>


<br>
<div class="register">
    <form  action="Data.html">
        <button type="submit"  class="registerbtn">Terug naar de vorige pagina</button>
    </form>
</div>

</body>
</html>