<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">s

<head>
    <meta charset="utf-8">
    <title>Login den tennisser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../resources/static/css/css.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <img src="../../../../resources/static/images/logo1.png" class="logoTennis">
        <label class="logo">Den Tennisser</label>
        <ul>
            <li><a class="active" href="ChoiceMenu.html">Den tennisser</a></li>
            <li><a href="Data.html">Gegevens</a></li>
            <li><a href="Reservation.html">Reservering</a></li>
            <li><a href="../index.html">afmelden</a></li>
        </ul>
    </nav>

    <img src="../../../../resources/static/images/background.jpg" alt="Tennisveld" class="tennisveld">

    <h2> Tennisclub: Den tennisser</h2>
    <h1>Welkom beste Tennisser</h1>

    <p>
        Beste tennisser!
        <br> Tennisclub De Tennisser wenst u heel veel tennisplezier!

    </p>

    <h3>
        Mijn profiel 
    </h3>

    <p class="data">
        Id
        <br> Naam
        <br> Voornaam
        <br> Geslacht
        <br> Geboortedatum
        <br> Telefoonnummer
        <br> Email
        <br> Straat
        <br> Huisnummer
        <br> Gemeente
        <br> Postcode
        <br>
    </p>
    <img src="../../../../resources/static/images/lijn-Tineke.svg">
    <h3>
        Mijn speelpunten 
    </h3>

    <p class="Points">
        Enkelspel:
        <br> Dubbelspel:
        <br>
    </p>


    <img src="../../../../resources/static/images/lijn-Tineke.svg">
    <h3 NAME="update">
        Mijn gegevens aanpassen
    </h3>

    <button class="buttonData">Email wijzigen</button>
    <button class="buttonData">Telefoonnummer wijzigen</button>
    <button class="buttonData">Adres wijzigen</button>
    <button class="buttonData">Wachtwoord wijzigen</button>
    <br>
    <br>
    <br>

    <img src="../../../../resources/static/images/lijn-Tineke.svg">
    <h3>
        Leden van de tennisclub Den Tennisser
    </h3>
    <p>
        In de lijst vindt u de gegevens van alle spelers. Zo kan u andere spelers contacteren voor een matchke te spelen.
        <br> Andere spelers kunnen uw adres niet lezen.
    </p>
    <button class="buttonData " href="members.html ">Bekijken </button>

    <img src="../../../../resources/static/images/lijn-Tineke.svg">
    <h3>
       Reservering maken
    </h3>

    <button class="buttonData" onclick="window.location.href='Reservation.html'"> Reservering maken/ bekijken</button>

    <br>
    <br>
    <footer>
        <br>
        <p class="footertext">TennisClub: Den Tennisser bedankt u voor uw bezoek aan onze website bij vragen kan u een mailtje sturen. <a href="mailto:dentennisser@hotmail.com">dentennisser@hotmail.com</a> </p>

        <br>
    </footer>
</body>

</html>