<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Login de tennisser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/css.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <img src="images/logo1.png" class="logoTennis">
        <label class="logo">De Tennisser</label>
        <ul>
            <li><a class="active" href="/ChoiceMenu">De tennisser</a></li>
            <li><a href="/data">Gegevens</a></li>
            <li><a href="/reservation">Reservering</a></li>
            <li><a href="/index">afmelden</a></li>
        </ul>
    </nav>

    <img src="images/background.jpg" alt="Tennisveld" class="tennisveld">

    <h2> Tennisclub: De tennisser</h2>
    <h1>Welkom beste Tennisser</h1>

    <p>
        Beste tennisser!
        <br> Tennisclub De Tennisser wenst u heel veel tennisplezier!
    </p>
    <h3>
        tennisvelden nummer + beschrijving
    </h3>
    <div class="register">
    <table>
        <tr>
            <th>Nummer van het veld</th>
            <th>Beschrijving</th>
        </tr>

        <tr th:each = "tennisCourt: ${tennisCourts}">
            <td>[[${tennisCourt.number}]]</td>
            <td>[[${tennisCourt.description}]]</td>
        </tr>
    </table>
    </div>

    <br>
    <img src="images/lijn-Tineke.svg">
    <h3>
        Tennisveld reserveren
    </h3>
    <div  class="dataInfo">
        <button class="buttonData"  onclick="window.location.href='/addReservation'">Reserveren</button>
    </div>

    <br>
    <br>
    <img src="images/lijn-Tineke.svg">
    <h3>
       Mijn huidige reservaties bekijken
    </h3>

    <div class="register">
    <table>
        <tr>
            <th>Reservatie nummer</th>
            <th>Nummer van het veld</th>
            <th>Datum</th>
            <th>Uur</th>
        </tr>

        <tr th:each = "reservation: ${reservations}">
            <td>[[${reservation.id}]]</td>
            <td>[[${reservation.tennisCourtId}]]</td>
            <td>[[${reservation.date}]]</td>
            <td>[[${reservation.hour}]]</td>
        </tr>
    </table>
    </div>
<br>

    <img src="images/lijn-Tineke.svg">
    <h3>
      Mijn reservatie verwijderen
    </h3>
    <div class="register">
        <form  th:action= "@{deletereservation}">
            <div class="container">
                <label><b>Geef het reservatie nummer in van de reservatie die je wilt verwijderen</b></label>
                <input type="text" name = "id">
                <input type="submit" class="registerbtn" value="Verwijder">
            </div>
        </form>
    </div>
    <br>

    <img src="images/lijn-Tineke.svg">

    <h3>Mijn gegevens bekijken en die van de andere spelers</h3>
    <div  class="dataInfo">
        <button class="buttonData "  onclick="window.location.href='/data'">Mijn gegevens bekijken</button>
    </div>
    <br>

    <img src="images/lijn-Tineke.svg">
    <br>
    <div  class="dataInfo">
        <button class="buttonData "  onclick="window.location.href='/ChoiceMenu'">Terug naar het beginscherm </button>
    </div>
    <br>
    <br>
    <footer>
        <br>
        <p class="footertext">TennisClub: Den Tennisser bedankt u voor uw bezoek aan onze website bij vragen kan u een mailtje sturen. <a href="mailto:dentennisser@hotmail.com">dentennisser@hotmail.com</a> </p>

        <br>
    </footer>
</body>

</html>